.slider-track{
    animation: scroll 40s  linear infinite ; 
}

.slider-track-reverse{
    animation: scroll 40s linear infinite reverse;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-120px * 7));
    }
}