@import "tailwindcss";

:root {
  /* * Variables */
  --color-primary: #E9F4FF;
  --color-secudary: #002A83;
  --color-tertiary: #007BFF;
  --color-black: #000000;
  --color-white: #ffffff;
}

body {
  @apply min-w-screen min-h-screen bg-(--color-primary) overflow-x-hidden;
}
